.dashboard-shell {
  width: 100%;
  height: calc(100vh - 115px);
  border-top: 1px solid grey;

  .sidebar {
    background-color: #315f69;
    width: 20%;
    display: inline-block;
    height: 100%;
  }

  .content {
    width: 80%;
    display: inline-block;
  }
}