#welcome {
  .section-1 {
    display: flex;
    flex-direction: column;
    background-image: url(../../../images/home-bg.jpg);
    max-width: 100%;
    background-size: cover;
    position: relative;
    background-position: center center;
    height: 50vh;
    text-align: center;

    .title-container {
      flex-grow: 8;
      display: flex;
      align-items: center;

      h1 {
        font-size: 50px;
        width: 60%;
        margin: auto;
        font-weight: bold;
        text-align: center;
        text-shadow: 0px 0px 2px black;
        color: white;
      }
    }

    .asterisk {
      margin-top: 2em;
      font-size: 14px;
    }

    .sticky-navbar {
      background-image: url(../../../images/home-bg.jpg);
    }
  }
}

@media (min-width: 1024px) {
  #welcome {
    .section-1 {
      .logo-big {
        width: 360px;
      }
    }
  }
}

@media (max-width: 768px) {
  #welcome {
    .section-1 {
      height: 425px;
      // background-image: url(../../../images/medium-home-background.jpg);
      // background-size: 100% 70%;
      background-repeat: no-repeat;
    }
  }
}

@media (min-width: 480px) {}

@media (max-width: 480px) {
  #welcome {
    .section-1 {
      height: 50vh;

      .title-container {
        h1 {
          width: 90%;
          font-size: 30px;
        }
      }
    }
  }
}

@media (max-width: 330px) {
  #welcome {
    .section-1 {}
  }
}
