#welcome {
  .section-1 {
    background-image: url(../../../images/home-background.jpg);
    max-width: 100%;
    background-size:cover;
    background-position: center 0;
    height: 100vh;
    text-align: center;

    .title {
      font-size: 30px;
      width: 50%;
      margin: auto;
      font-weight: bold;
      text-align: center;
      padding-bottom: 19px;
      color: #311a19;
    }

    h2 {
      text-align: center;
      margin-top: 25px;
      font-size: 1.6em;
      font-weight: 600;
      margin-bottom: 19px;
      color: #311a19;
    }

    .content-container {
      height: 90vh;
      display: flex;
      align-items: center;
      justify-content: center;

      .beauty-basket-container {
        display: block;

        .get-basket-button {
          color: black;
          border-radius: 6px;
          font-size: 18px;
          display: block;
          margin: auto;
          border: 1px solid #311A19;
          margin-top: 1em;
          padding: 15px 40px;
          background-color: #F1D866;
        }
      }
    }
  }
}

#launch-modal {
  text-align: center;
  font-family: "Josefin Sans", sans-serif;

  .modal-content {
    background-color: #F1D866;
  }

  .modal-header {
    border: none;
    padding: 0 1rem;
  }

  .title {
    font-size: 30px;
  }
}

@media (min-width: 1500px) {
  #welcome {
    .section-1 {
      background-image: url(../../../images/fruits-background-lg.jpg);
    }
  }
}

@media (min-width: 1024px) {
  #welcome {
    .section-1 {
      .logo-big {
        width: 360px;
      }
    }
  }
}

@media (max-width: 768px) {
  #welcome {
    .section-1 {
      height: 625px;

      .title {
        font-size: 40px;
      }
    }
  }
}

@media (min-width: 480px) {}

@media (max-width: 480px) {
  #welcome {
    .section-1 {
      height: 100vh;

      .title {
        text-align: center;
        font-size: 30px;
      }

      h2 {
        font-size: 25px;
      }
    }
  }
}

@media (max-width: 330px) {
  #welcome {
    .section-1 {
      h2 {
        font-size: 18px;
      }
    }
  }
}