.button-with-loader {
  color: #311A19;
  background-color: #F1D866;
  padding: 0.5em 2em;
  font-weight: 500;
  border: 1px solid #F1D866;
  border-radius: 6px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  &.next-button {
    width: 100%;

    &.disabled {
      opacity: 0.4;
    }
  }
}