#cart {
  width: 90%;
  margin: auto;

  .empty-cart-container {
    background-color: white;
    border-radius: 8px;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80vh;
    margin: auto;

    p {
      margin-top: 10%;
      margin-bottom: 3em;
      font-weight: 500;
    }

    .discover-baskets-button {
      color: #311A19;
      background-color: #F1D866;
      padding: 0.5em 2em;
      font-weight: 500;
      border: 1px solid #311A19;
      border-radius: 8px;
    }
  }

  .disabled-section {
    background-color: white;
    border-radius: 8px;
    margin-top: 1em;
    margin-bottom: 1em;

    h2 {
      padding-top: 1em;
      padding-bottom: 1em;
      color: #ccc;
      text-align: center;
    }
  }

  .price-container {
    background-color: white;
    border-radius: 8px;
    padding: 2em;
    height: 564px;

    .second-divider {
      margin-bottom: 1em;
    }

    .pay-by-card-btn {
      margin-bottom: 1em;
    }

    .covid19-warning {
      color: red;
      text-align: justify;
      width: 80%;
      display: block;
      margin: 1em auto 0 auto;
    }

    .email-not-confirmed {
      margin-top: 1em;
      padding: 0 1em;
      color: red;
    }

    h2 {
      text-align: center;
    }

    .content-container {
      padding-top: 1em;
    }

    p {
      font-weight: 500;
    }
  }
}

@media (max-width: 1024px) {
  #cart {
    .empty-cart-container {
      p {
        margin-top: 30%;
      }
    }
  }
}

@media (max-width: 768px) {
  #cart {
    .disabled-section {
      h2 {
        font-size: 25px;
      }
    }

    .price-container {
      h2 {
        font-size: 25px;
      }
    }
  }
}

@media (max-width: 480px) {
  #cart {
    margin-top: 3em;

    .disabled-section {
      h2 {
        font-size: 20px;
      }
    }

    .price-container {
      margin-top: 2em;
      height: 400px;

      h2 {
        font-size: 22px;
      }
    }
  }
}

@media (max-width: 350px) {
  #cart {
    .disabled-section {
      h2 {
        font-size: 17px;
      }
    }
  }
}