.form-container {
  background-color: #f1d866;
  border: 1px solid #ddd;
  border-radius: 6px;
  margin: auto;
  width: 600px;
  margin-top: 5em;
  padding-bottom: 2em;

  .form-title-container {
    padding-top: 2em;
    padding-bottom: 1em;

    h3 {
      font-size: 20px;
      color: #311A19;
    }
  }
}