#basket-to-order {
	padding-top: 2em;

	.description {
		font-size: 18px;
	}

	.error {
		border-color: red;
	}

	.regular-price {
		font-size: 25px;
		text-decoration: line-through;
	}

	.new-price {
		font-size: 25px;
	}

	.reduction {
		border: 1px solid rgb(211, 64, 64);
		color: rgb(211, 64, 64);
		padding: 5px;
		vertical-align: middle;
		font-size: 15px;
		margin-left: 10px;
	}

	.qty-container {
		h4 {
			margin-top: 1em;
			text-align: center;
		}

		.qty-buttons {
			display: block;
			text-align: center;

			.qty-button, .qty-display {
				border: 1px solid #311A19;
				background-color: #F1D866;
				color: #311A19;
			}
		}

		.max-qty-msg {
			margin-top: 1em;
			text-align: center;
		}

		.order-button {
			color: black;
			font-size: 18px;
			display: block;
			margin: auto;
			border: 1px solid #311A19;
			margin-top: 1em;
			padding: 15px 40px;
			background-color: #F1D866;

			&.isDone {
				width: 40%;
				text-align: center;
			}
		}
	}

	.other-baskets-row {
		display: flex;
		flex-wrap: wrap;

		.basket-card {
			padding: 1em;
			text-align: center;

			img {
				max-width: 150px;
			}

			h3 {
				font-size: 20px;
				text-align: center;
			}
		}
	}

	.basket-img-container {
		.images-container {
			max-height: 350px;
			overflow-y: scroll;
			/* Hide scrollbar for IE and Edge */
			// -ms-overflow-style: none;

			/* Hide scrollbar for Chrome, Safari and Opera */
			// &::-webkit-scrollbar {
			// 	display: none;
			// }

			img {
				margin: 0 auto 20px auto;
				display: block;
				width: 90%;
			}
		}

		p {
			text-align: center;
		}
	}

	h3 {
		margin-top: 1em;
	}

	input[type="checkbox"].error {
		outline: 1px solid red;
	}

	li {
		font-size: 18px;
	}
}

@media (max-width: 1366px) {
  #basket-to-order {}
}

@media (min-width: 1025px) {
	#basket-to-order {
		.basket-img-container {
			padding: 1em;
			background-color: rgba(241, 216, 102, 0.1);

			p {
				font-size: 13px;
				margin-bottom: 0;
			}
		}

		.basket-card {
			padding: 10px;

			&:hover {
				cursor: pointer;
				box-shadow: 0 0 11px rgba(33,33,33,.2);
			}
    }
	}
}

@media (max-width: 1024px) {
	#basket-to-order {
		.basket-img-container {
			p {
				font-size: 12px;
			}
		}
	}
}

@media (max-width: 768px) {
  #basket-to-order {
		.basket-card {
			h3 {
				font-size: 13px;
				text-align: center;
			}
		}
	}
}

@media (max-width: 480px) {
	#basket-to-order {
		.container {
			padding-right: 0;
			padding-left: 0;

			.imgs-col {
				padding-right: 0;
				padding-left: 0;

				img {
					border-radius: 0;
					width: 100%;
				}
			}
		}

		.basket-img-container {
			.images-container {
				max-height: 450px;
			}
		}

		h1 {
			font-size: 30px;
		}

		.regular-price, .new-price {
			font-size: 20px;
		}

		.reduction {
			font-size: 18px;
		}

		h1, h2 {
			text-align: center
		}

		h3 {
			text-align: center;
		}

		ul {
			width: 200px;
			margin: auto;
		}

		img {
			width: 50%;
			display: block;
			margin: 0 auto 2em auto;
		}

		.other-baskets-row {
			img {
				width: 100%;
			}

			.basket-card {
				width: 50%;
			}

			h3 {
				font-size: 13px;
			}
		}

		.description {
			width: 90%;
			display: block;
			margin: auto;
			text-align: justify;
		}
	}
}

@media (max-width: 375px) {
	#basket-to-order {
		.basket-img-container {
			.images-container {
				max-height: 412px;
			}
		}
	}
}

@media (max-width: 350px) {
	#basket-to-order {
		.basket-img-container {
			.images-container {
				max-height: 390px;
			}
		}
	}
}