#pleasure-baskets {
  .mobile-display {
    display: none;
    padding-top: 2em;
  }

  .custom-slider {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 0;
    width: 90%;
    margin: auto;

    .slider {
      margin-block-start: 0;
      margin-block-end: 0;
      margin-inline-start: 0;
      margin-inline-end: 0;
    }

    .article-container {
      padding-bottom: 0;
      margin: 1em auto 0 auto;
    }

    .carousel-status {
      display: none;
    }

    .slide {
      background: transparent;
    }

    .control-dots {
      display: none;

      .dot {
        background-color: grey;
      }
    }

    .control-prev.control-arrow:before {
      border-right: 8px solid #000;
    }

    .control-next.control-arrow:before {
      border-left: 8px solid #000;
    }
  }
}

@media (max-width: 480px) {
  #pleasure-baskets {
    .mobile-display {
      display: block;
    }

    .desktop-display {
      display: none;
    }
  }
}