
.team {
  .title-container {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;

    h2 {
      color: #311a19;
      font-weight: 600;
      font-size: 45px;
      margin-bottom: 30px;
    }

    h3 {
      font-size: 17px;
      font-weight: 400;
      width: 850px;
      margin: auto;
    }
  }

  .content-container {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;

    .article-block {
      text-align: center;
      background-color: white;
      border: 1px solid #ddd;
      border-radius: 6px;
      width: 400px;
      margin-top: 20px;
      padding-bottom: 30px;

      .member-description {
        width: 300px;
        text-align: justify;
        font-size: 17px;
        margin: 20px auto;
      }

      .author-id {
        margin-top: 20px;
        padding-bottom: 10px;

        h4 {
          margin-bottom: 0;
          font-size: 20px;
          color: #315F69;
          font-weight: bold;
        }

        .social-links {
          a {
            text-decoration: none;
            color: #311a19;
            margin-left: 5px;
            margin-right: 5px;
            font-size: 20px;

            &:hover {
              color: #315f69;
            }
          }
        }

        .profile-pic {
          width: 100px;
          margin-bottom: 20px;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .team {
    .content-container {
      .article-block {
        .author-id {
          h4 {
            font-size: 18px;
          }
        }

        .desktop-quote {
          display: none;
        }

        .mobile-quote {
          display: block;
        }
      }
    }
  }
}

@media (max-width: 480px) {
  .team {
    .title-container {
      h2 {
        font-size: 27px;
      }
    }

    .content-container {
      border: none;
      border-radius: 0;
      width: 100%;
    }
  }
}

@media (max-width: 350px) {
  .team {
    h2 {
      font-size: 23px;
    }
  }
}