.section-title-container {
  background-color: rgba(241, 215, 101, 0.5);
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10%;
  padding-right: 5%;

  .section-title {
    font-weight: bold;
    font-size: 45px;
    line-height: 50px;
    height: 100%;
    padding: 0 10px;
    background-color: white;
  }

  .secondary-link {
    font-weight: bold;
    color: #311A19;
    text-decoration: underline;
  }
}