.article-container {
  margin-top: 50px;

  .row {
    width: 100%;

    .left-small-img-container {
      display: flex;
      align-items: center;
			justify-content: center;
    }

    .full-width-img-container {
      width: 100%;

      img {
        width: 100%;
      }
    }

    .col-sm-3 {
      width: 25%;
    }

    .col-sm-9 {
      width: 75%;
    }
  }

  .citation {
    font-style: italic;
    color: grey;
  }

  .italic {
    font-style: italic;
  }

  .cover {
    width: 100%;
  }

  .sharing-title {
    font-weight: 500;
    margin-bottom: 1em;
    font-size: 20px;
  }

  .sharing-buttons {
    display: inline-block;
    margin-right: 1em;
    cursor: pointer;
  }

  p, ul {
    text-align: justify;
  }

  ul {
    font-size: 18px;
  }

  .author {
    margin-bottom: 20px;

    img {
      width: 50px;
      vertical-align: top;
    }

    div {
      display: inline-block;
      font-size: 16px;
      margin-left: 15px;

      span {
        display: block;
      }

      .date {
        color: gray;
      }
    }
  }

  .quote {
    font-style: italic;
    font-size: 15px;
  }

  .left-small-img {
    width: 80%;
  }

  .team-meeting-img {
    max-width: 170px;
    margin-bottom: 1em;
  }

  .logo-img {
    width: 90%;
  }

  .img-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 480px) {
  .article-container {
    .left-small-img {
      margin: 1em auto;
      display: block;
    }

    .logo-img {
      width: 200px;
    }
  }
}