.article-container {
  margin-top: 50px;

  .author {
    margin-bottom: 20px;

    img {
      width: 50px;
      vertical-align: top;
    }

    div {
      display: inline-block;
      font-size: 16px;
      margin-left: 15px;

      span {
        display: block;
      }

      .date {
        color: gray;
      }
    }
  }

  .quote {
    font-style: italic;
    font-size: 15px;
  }

  .doris-2 {
    width: 80%;
  }

  .logo-img {
    width: 90%;
  }

  .img-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 480px) {
  .article-container {
    .doris-2 {
      width: 150px;
      margin-bottom: 20px;
    }

    .logo-img {
      width: 200px;
    }
  }
}