#countdown {
  background-color: rgb(250, 216, 106);
  position: absolute;
  width: 100%;
  font-weight: bold;
  top: 56px;
  z-index: 800;
  padding: 5px 10px;
  text-align: center;
  background-color: #F1D866;
  background-image: linear-gradient(to top, rgba(255, 239, 206, 0) 0%, rgba(255, 239, 206, 0.25) 100%);

  p {
    margin: 0;
  }
}

@media (max-width: 360px) {

}