#our-service-section {
  padding: 100px 0;
  text-align: center;

  h2 {
    font-size: 40px;
  }

  #services-container {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding-top: 50px;

    .service {
      background-color: white;
      border:1px solid #ddd;
      border-radius: 6px;
      width: 322px;
      padding: 2em 10px;
      text-align: center;

      .icon {
        font-size: 80px;
        display: block;
      }

      .title {
        font-size: 50px;
        display: block;
      }

      p {
        color: #5A5A5A;
      }
    }
  }
}

@media (max-width: 768px) {
  #our-service-section {
    #services-container {
      flex-direction: column;

      .service {
        width: 70%;
        margin: 0 auto 2em auto;

        p {
          width: 80%;
          margin: auto;
        }
      }
    }
  }
}

@media (max-width: 414px) {
  #our-service-section {
    padding: 100px 0 0 0;

    #services-container {
      width: 90%;

      .service {
        width: 100%;

        .title {
          font-size: 40px;
        }

        p {
          width: 90%;
        }
      }
    }
  }
}