#our-service-section {
  padding: 100px 0;
  text-align: center;

  h2 {
    font-size: 40px;
    color: #315F69;
  }

  .service-section {
    display: flex;
    width: 60%;
    min-width: 1000px;
    margin: 150px auto;

    .image-container {
      width: 50%;

      img {
        width: 100%;
        border-radius: 20px;
      }
    }

    .service-description-container {
      width: 50%;
      text-align: left;

      .description {
        display: flex;
        flex-direction: column;
        height: 100%;
        font-size: 17px;
        justify-content: space-between;

        .start-btn {
          margin-top: 50px;
        }

        &.left {
          margin-right: 100px;
        }

        &.right {
          margin-left: 100px;
        }

        .title {
          font-size: 2em;
          font-weight: 500;

          .highlight {
            color: #f1d866;
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  #our-service-section {}
}

@media (max-width: 414px) {
  #our-service-section {
    padding: 100px 0 0 0;
  }
}