#blog {
  width: 80%;
  margin: 2em auto 0 auto;
}

@media (max-width: 768px) {
  #blog {
    width: 90%;
  }
}

@media (max-width: 480px) {
  #blog {
    .title-container {
      h2 {
        font-size: 25px;
      }
    }
  }
}
