#thanks-section {
  .heading {
    text-align: center;
    color: #311a19;
    padding-top: 50px;
    padding-bottom: 50px;

    h2 {
      color: #311a19;
      font-weight: 600;
      font-size: 45px;
    }

    h3 {
      font-weight: 600;
      font-size: 30px;
    }
  }

  .custom-slider {
    background-color: rgba(49, 95, 105, 0.1);
    border-radius: 8px;
    width: 90%;
    padding: 2em 0;
    margin: auto;

    .slider-wrapper {
      padding-bottom: 3em;
    }

    .carousel-status {
      display: none;
    }

    .slide {
      background: transparent;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .thumbs-wrapper {
      display: none;
    }

    .control-dots {
      .dot {
        background-color: grey;
      }
    }

    .control-prev.control-arrow:before {
      border-right: 8px solid #000;
    }

    .control-next.control-arrow:before {
      border-left: 8px solid #000;
    }

    .slider-img {
      width: 80%;
      display: block;
      margin: auto;
    }
  }
}


@media (max-width: 768px) {
	#thanks-section {
		.heading {
			h3 {
				font-size: 25px;
			}
		}
	}
}

@media (max-width: 480px) {
	#thanks-section {
    .custom-slider {
      width: 100%;
      margin: 0;
    }

		.heading {
			h2 {
        font-size: 27px;
			}

			h3 {
        font-size: 20px;
			}
		}
	}
}

@media (max-width: 350px) {
  #thanks-section {
    .heading {
      h2 {
        font-size: 23px;
			}

			h3 {
        font-size: 18px;
      }
    }
  }
}