.newsletter {
  padding: 90px 0px;
  background-image: url(../../assets/images/fabric_dark.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  position: relative;

  .content {
    margin: 0;
    text-align: center;
  }

  input {
    border-top-left-radius: 30px !important;
    border-bottom-left-radius: 30px !important;
  }

  .subscribe-btn {
    border-top-right-radius: 30px !important;
    border-bottom-right-radius: 30px !important;
    background-color: #f1d866;
    border-color: #f1d866;
    padding: .5rem 2rem !important;

    .subscribe-icon {
      display: none;
    }
  }
}

@media (max-width: 768px) {
  .newsletter {
    .subscribe-btn {
      .subscribe-text {
        display: none;
      }

      .subscribe-icon {
        display: block;
      }
    }
  }
}

@media (max-width: 480px) {
  .newsletter {
    h2 {
      font-size: 25px;
    }

    .input-group-lg>.form-control {
      font-size: 1em;
    }
  }
}