#ratings {
  .title-container {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;

    h2 {
      color: #311a19;
      font-weight: 600;
      font-size: 45px;
      margin-bottom: 30px;
    }

    h3 {
      font-size: 17px;
      font-weight: 400;
      width: 850px;
      margin: auto;
      text-align: center;
    }
  }

  .button-container {
    display: flex;
    align-items: center;
    justify-content: center;

    .rating-button {
      font-size: 24px;
      padding: 0.5em 1em;
      display: block;
      margin-top: 1em;
      margin-bottom: 1em;
    }
  }

  .ratings-list {
    width: 90%;
    margin: auto;
  }
}

@media (max-width: 768px) {
  #ratings {
    .title-container {
      h3 {
        width: 90%;
      }
    }
  }
}

@media (max-width: 414px) {
  #ratings {
    .title-container {
      h2 {
        font-size: 27px;
      }
    }
  }
}