#profile-relatives {
  width: 100%;
  margin-top: 1em;

  .relatives-list-title-container, .relatives-list-container {
    background-color: white;
    border-radius: 0;
    margin-bottom: 1em;
    padding: 2em;

    .relatives-container {
      max-height: 400px;
      overflow-y: scroll;
      padding: 1em;

      li {
        background-color: #eee;
        list-style-type: none;
        padding: 1em 3em;
        margin-bottom: 1em;
        border-radius: 0;
      }

      .relatives-info {
        width: 100%;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        font-weight: 500;
      }

      .edit-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .action {
          font-weight: 300;
          text-decoration: underline;
          border: none;
          background-color: transparent;
          margin-bottom: 10px;
        }
      }
    }
  }

  #relative-form {
    background-color: white;
    border-radius: 0;
    margin-bottom: 1em;
    padding: 2em;
    width: 100%;

    .full-width {
      width: 100%;
    }

    .input {
      margin-bottom: 1em;
    }

    .phone-container {
      display: flex;

      .country-code {
        width: auto;
        flex-shrink: 1;
        margin-right: 10px;
      }

      .phone-input {
        width: auto;
        flex-grow: 2;
      }
    }

    .zone-select, .relation-select {
      width: 100%;
      height: 43px;
    }

    .modify-button {
      color: black;
      border-radius: 0;
      font-size: 22px;
      width: 100%;
      border-color: #F1D866;
      padding: 15px 40px;
      margin: auto;
      display: block;
      background-color: #F1D866;

      &.modal-order {
        padding: 10px 30px;
      }
    }
  }

  .no-relatives {
    text-align: center;
  }

  .add-relative-button {
    color: black;
    border-radius: 0;
    font-size: 22px;
    width: 50%;
    border-color: #F1D866;
    padding: 15px 40px;
    margin: auto;
    display: block;
    background-color: #F1D866;

    &.modal-order {
      padding: 10px 30px;
    }
  }

  h2 {
    margin-bottom: 1em;
    text-align: center;
  }
}

#deleting-modal {
  .logo-big {
    width: 50%;
    margin: auto;
    display: block;
  }

  p {
    text-align: center;
  }

  .confirm-button {
    color: black;
    border-radius: 0;
    width: 100%;
    font-size: 15px;
    border-color: #F1D866;
    padding: 15px;
    background-color: #F1D866;
  }

  .cancel-button {
    color: white;
    border-radius: 0;
    width: 100%;
    font-size: 15px;
    border-color: grey;
    padding: 15px;
    margin: auto;
    display: block;
    background-color: grey;
  }
}

@media (min-width: 1024px) {}

@media (max-width: 1024px) {
  #profile-relatives {
    .relatives-list-container {
      padding: 2em 0.5em;
    }
  }
  #relative-form {
    h2 {
      font-size: 25px;
    }
  }
}

@media (min-width: 768px) {}

@media (max-width: 768px) {
  #profile-relatives {
    .add-relative-button {
      width: 70%;
      font-size: 20px;
    }

    .relatives-list-container {
      .relatives-container {
        padding: 0 1em;
      }
    }
  }

  #relative-form {
    h2 {
      font-size: 20px;
    }
  }
}

@media (max-width: 480px) {
  #profile-relatives {
    h2 {
      padding: 1em;
      font-size: 20px;
    }

    .relatives-list-container  {
      .relatives-container {
        li {
          padding: 20px;
        }

        .relatives-info {
          font-size: 15px;
          margin-bottom: 0;
        }
      }
    }

    .add-relative-button {
      width: 90%;
    }
  }

  #relative-form {
    h2 {
      padding: 0;
    }
  }
}

@media (max-width: 350px) {
  #profile-relatives {
    .add-relative-button {
      font-size: 18px;
    }
  }
}