.my-cart-container {
  border-radius: 8px;
  background-color: white;
  padding: 2em;

  h2 {
    text-align: center;
  }

  .subtotal-container {
    display: flex;
    justify-content: flex-end;
    padding: 1em;

    .subtotal {
      font-weight: 600;
    }
  }

  .baskets-container {
    padding: 1em;

    h3 {
      font-size: 18px;
    }

    .image-container {
    }

    .label-container {
      padding: 0;

      p {
        margin-bottom: 0.5em;
      }
    }

    .recipient-choice-container {
      display: flex;
      align-items: center;
    }

    .qty-container {
      padding: 0;
      display: flex;
      align-items: center;
      justify-content: center;

      .trash-container {
        padding: 10px;

        .trash-icon {
          font-size: 20px;
          color: rgb(228, 86, 86);

          &:hover {
            cursor: pointer;
          }
        }
      }
    }

    .enlarge-container {
      p {
        font-size: 13px;
        text-decoration: underline;
        margin-bottom: 2px;
        text-align: center;
        width: 100%;

        &:hover {
          cursor: pointer;
        }
      }
    }

    .basket-name-container {
      padding-right: 0;
    }

    .info-container {
      padding-left: 0;
      padding-right: 0;
      display: flex;
      align-items: center;

      .row {
        width: 100%;
      }
    }

    li {
      background-color: #eee;
      list-style-type: none;
      padding: 1em;
      margin-bottom: 1em;
      border-radius: 8px;
      max-height: 101px;
      transition: max-height 0.4s ease-out;
      height: auto;
      overflow-y: hidden;

      &.show-content {
        max-height: 3000px;
      }

      .basket-content-container {
        padding: 1em;
        font-size: 16px;

        li {
          list-style-type: circle;
          padding: 1em 0 0 0;
          margin-bottom: 0;
        }
      }
    }

    .title-container {
      h3 {
        text-align: right;
      }
    }

    img {
      width: 80%;
      border-radius: 8px;
    }
  }
}


@media (max-width: 1024px) {
  .my-cart-container {
    padding: 2em 0.5em;

    .baskets-container {
      padding: 1em;

      .enlarge-container {
        padding: 0 2px;
      }

      .MuiOutlinedInput-input {
        padding: 12.5px 14px;
      }

      .recipient-choice-container {
        padding: 0;
      }

      li {
        max-height: 110px;

        .image-container {
          padding: 0;
        }

        .info-container {
          padding-right: 0;
        }

        padding: 1em;
      }

      h3 {
        font-size: 18px;
        display: inline-block;
      }

      p {
        display: inline-block;
        padding-left: 0.5em;
      }
    }
  }
}

@media (max-width: 480px) {
  .my-cart-container {
    padding: 0;
    padding-top: 1em;

    .baskets-container {
      .label-container {
        padding-right: 0;
      }

      .qty-container {
        padding-left: 0;

        p {
          font-size: 13px;
        }
      }
    }
  }
}

@media (max-width: 350px) {
  .my-cart-container {
    .baskets-container {
      .enlarge-container {
        p {
          font-size: 9px;
          margin-bottom: 1px;
        }
      }

      h3 {
        font-size: 13px;
      }

      p {
        font-size: 13px;
      }
    }
  }
}