.dashboard-finance {
  h1 {
    display: flex;
    vertical-align: middle;

    .add-request {
      font-size: 18px;
      color: #311A19;
      background-color: #F1D866;
      padding: 0.5em 2em;
      font-weight: 500;
      border: 1px solid #311A19;
      border-radius: 0;
      margin-left: 2em;
    }
  }

  .status-pill {
    padding: 2px 10px;
    border-radius: 0;

    &.pending {
      background-color: rgb(230, 191, 84);
    }

    &.pinged {
      background-color: rgb(230, 191, 84);
    }

    &.accepted {
      background-color: rgb(125, 223, 121);
    }

    &.denied {
      background-color: rgb(214, 110, 110);
    }
  }

  .delete-request-button {
    color: red;
    display: block;
    margin: auto;

    &:hover {
      cursor: pointer;
    }
  }
}