#covid-19 {
  display: block;
  position: relative;
  background-color: #ffc107;
  text-align: center;
  padding: 1em 0;

  .remove-banner-button {
    position: absolute;
    top: 10px;
    background-color: transparent;
    border: none;
    right: 10px;
    font-size: 20px;
  }
}

@media (min-width: 480px) {
  #covid-19 {
    display: none;
  }
}