.jobs {
  width: 100%;

  .title-container {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;

    h2 {
      color: #311a19;
      font-weight: 600;
      font-size: 45px;
		}
  }

  .content-container {
    margin: 0 10em 2em 10em;
    min-height: 400px;

    .job-row {
      display: flex;
      background-color: white;
      margin-top: 1em;
      padding: 1em;
      border-radius: 10px;
      box-shadow: 0px 0px 25px -11px rgb(148, 148, 148);

      .description {
        flex-grow: 1;
        padding-left: 2em;
      }

      .img-container {
        display: flex;
        align-items: center;

        img {
          width: 90px;
        }
      }

      .sub-info {
        color: grey;
      }

      .buttons-container {
        display: flex;
        align-items: center;

        .download-btn {
          background-color: #315f69;
          border: 1px solid #315f69;
          color: #fff;
          height: 47px;
        }
      }
    }
  }
}

@media(max-width: 480px) {
  .jobs {
    .title-container {
      h2 {
        font-size: 30px;
      }
    }

    .content-container {
      margin: 0 5px;

      h3 {
        text-align: center;
      }

      .job-row {
        .description {
          padding-left: 0;
        }
      }
    }
  }
}

@media(max-width: 350px) {
  .jobs {
    .job-row {
      h4 {
        font-size: 16px;
      }
    }
  }
}