#placeholder-container {
  padding-bottom: 20px;
  margin: 1em auto 1em auto;
  width: 70%;

  .placeholder-inner-container {
    border-radius: 8px;
    padding: 1em 2em 2em 2em;
    background-color: white;
  }
}

@media(max-width: 768px) {
  #placeholder-container {
    width: 90%;
  }
}