table {
  tr {
    &.warning {
      color: white;
      background-color: rgb(255, 162, 162);
    }
  }
}

.scroll-button {
  position: fixed;
  bottom: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 30px;
}

.search-label {
  width: 90%;
  margin: auto;
  margin-bottom: 2em;
  display: block;

  .search-bar {

  }
}