table {

  th {
    padding: 0.25rem 0.75rem !important;
    background-color: rgb(226, 226, 226);
  }

  tr {
    &.warning {
      background-color: rgb(255, 221, 158);
    }

    &.canceled {
      background-color: rgb(255, 191, 191);
    }

    &.done {
      background-color: rgb(114, 209, 150);
    }

    &.blank {
      background-color: rgb(255, 255, 255);
    }
  }
}

.scroll-button {
  position: fixed;
  bottom: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 30px;
}

.search-label {
  width: 90%;
  margin: auto;
  margin-bottom: 2em;
  display: block;

  .search-bar {

  }
}