#new-order-modal {
  h1 {
    font-size: 1.5em;
  }

  .header-text {
    font-size: 2em;
  }

  .form-input {
    margin-bottom: 1em;
  }

  .full-width {
    width: 100%;
  }

  .save-button {
    font-size: 18px;
    color: #311A19;
    background-color: #F1D866;
    padding: 0.5em 2em;
    font-weight: 500;
    border: 1px solid #311A19;
    border-radius: 0;
    float: right;
  }
}