.layout {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-image: url(../../images/layout-brown.png);

  &.green {
    background-image: url(../../images/layout-green.png);
  }

  &.mix {
    background-image: url(../../images/layout-mix.png);
  }

  &.light {
    background-image: url(../../images/layout-light.png);
  }
}

@media (max-width: 414px) {
  .layout {
    background-size: 100% 100vh;
    background-image: url(../../images/mobile-layout-light.jpg);

    &.green {
      background-image: url(../../images/mobile-layout-green.jpg);
    }

    &.mix {
      background-image: url(../../images/mobile-layout-mix.jpg);
    }

    &.light {
      background-image: url(../../images/mobile-layout-light.jpg);
    }
  }
}
