.custom-card {
  position: relative;
  width: 100%;
  border-radius: 8px;
  border: 1px solid rgb(206, 206, 206);

  .img-container {
    position: relative;
    border-bottom: 1px solid rgb(206, 206, 206);
    width: 100%;
    // overflow: hidden;

    img {
      width: 110%;
    }
  }

  .text-container {
    background-color: white;
    padding: 1em;
  }

  .title {
    font-size: 20px;
    font-weight: bold;
  }

  .description {
    text-align: justify;
    font-size: 14px;
    line-height: 16px;
  }

  .custom-card-footer {
    color: grey;
  }
}