#ratings-list {
  .rating {
    border: 1px solid #ddd;
    border-radius: 6px;
    background-color: #fff;;
    padding: 1em;
    margin-bottom: 20px;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2), 0 3px 5px 0 rgba(0, 0, 0, 0.19);

    .rating-header {
      display: flex;
      justify-content: space-between;
      padding-bottom: 0.5em;

      .left-header {
        display: flex;
        align-items: center;

        .user-name {
          font-size: 20px;
          font-weight: bold;
          color: #311A19;
        }

        .stars {
          display: flex;
          align-items: center;
          font-size: 18px;
          margin-right: 0.5em;
          padding-bottom: 3px;

          .yellow {
            color: #f1d866;
          }
        }
      }
    }

    .rating-subject {
      font-size: 17px;
    }

    .rating-text {
      font-size: 17px;
      color: #311A19;
    }
  }

  .footer-nav {
    padding-top: 2em;
    display: flex;
    justify-content: center;
    align-items: center;

    .page-button {
      padding: 0 0.7em;
      margin-right: 0.2em;
      margin-left: 0.2em;

      &.not-actual {
        color: rgba(49, 26, 25, 0.5);
        background-color: rgba(241, 216, 102, 0.5);
        border-color: rgba(241, 216, 102, 0.5);
      }
    }

    .arrow {
      font-size: 40px;

      &:hover {
        cursor: pointer;
      }
    }
  }
}

@media (max-width: 330px) {
  #ratings-list {
    .rating {
      .rating-header {
        .left-header {
          .stars {
            font-size: 14px;
          }

          .user-name {
            font-size: 15px;
          }
        }
      }
    }
  }
}
