#how-it-works {
  .heading {
		text-align: center;
    color: #777777;
    padding-top: 40px;
		padding-bottom: 70px;
		width: 100%;

		h2 {
      color: #311a19;
      font-weight: 600;
      font-size: 45px;
		}
  }

  .custom-slider {
    background-color: rgba(241, 216, 102, 0.1);
    border-radius: 8px;
    width: 90%;
    margin: auto;

    .slick-dots {
      bottom: 25px;
    }

    .slick-prev, .slick-next {
      color: #311a19;
      z-index: 800;
    }

    .slick-next {
      right: 0;
    }

    .slick-prev {
      left: 0;
    }
  }

  .card-block {
    width: 90%;
    padding: 2em 0;
    margin: auto;

    .slider-icon {
      height: auto;
      width: 25%;
    }
  }

  .slide-icon {
    text-align: center;
    margin-bottom: 1em;
  }

  .slide-title {
    text-align: center;
  }

  .slide-desc {
    text-align: center;
  }
}

@media (max-width: 1366px) {
  #how-it-works {}
}

@media (max-width: 1024px) {
  #how-it-works {}
}

@media (max-width: 768px) {
  #how-it-works {}
}

@media (max-width: 480px) {
  #how-it-works {
    .slide-icon {
      text-align: center;
      margin-bottom: 1em;
    }

    .heading {
      padding-bottom: 40px;

      h2 {
        font-size: 27px;
      }
    }

    .custom-slider {
      border: none;
      border-radius: 0;
      width: 100%;
    }
  }
}

@media (max-width: 350px) {
  #how-it-works {
    .heading {
      h2 {
        font-size: 23px;
      }
    }
  }
}