#message-to-relative {
  border-radius: 8px;
  background-color: white;
  padding: 2em;

  h2 {
    text-align: center;
  }

  .message-form {
    .basket-message-container {
      margin-top: 2em;

      h3 {
        font-size: 20px;
      }
    }
  }
}