#profile-menu {
  .list-container {
    padding: 0;
    margin-top: 1em;

    li {
      background-color: white;
      border-radius: 8px;
      margin-bottom: 1em;
      width: 100%;
      text-align: center;
      list-style-type: none;

      a {
        display: block;
        padding: 1em;
        text-decoration: none;
        width: 100%;
        color: black;
        font-size: 18px;
        font-weight: 400;
      }
    }
  }
}

@media (min-width: 768px) {
  #profile-menu {
    .list-container {
      li {
        &.active {
          border: 1px solid grey;
        }
      }
    }
  }
}