#header {
  .menu {
    a {
      color: #311a19 !important;
      font-size: 14px;
      font-weight: bold;
    }

    .dropdown-item:active {
      background-color: #315f69;
      color: white !important;
    }

    .account {
      border-radius: 8px;
    }
  }

  .logo {
    width: 100px;
  }
}

#account-modal {
  .modal-content {
    padding-bottom: 1em;
  }

  .logo-big {
    width: 50%;
    margin: auto;
    display: block;
  }

  .form-container {
    width: 80%;
    margin: auto;

    .login-signup-switch {
      width: 100%;

      .switch-button {
        border-color: #315f69;
        background-color: white;
        color: #555555;

        &.active {
          background-color: #315f69;
          color: white;
          font-weight: bold;
        }
      }
    }
  }
}

@media (min-width: 1600px) {}

@media (min-width: 769px) {}

@media (max-width: 768px) {
  #account-modal {

  }
}

@media (min-width: 480px) {}

@media (max-width: 480px) {}

@media (max-width: 330px) {}