#header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 20px;

  #left-items {
    display: flex;
    align-items: center;

    #header-logo {
      width: 120px;
    }

    .menu {
      padding: 0;
      margin-bottom : 0;

      .menu-item {
        display: inline-block;
        margin-left: 30px;

        a {
          font-size: 20px;
          font-weight: 500;
          text-decoration: none;
          color: #311A19;


          &.selected {
            border-bottom: 2px solid #311A19;
          }
        }
      }
    }
  }

  #right-items {
    display: flex;
    align-items: center;

    .drawer-button {
      display: none;
    }

    .header-login-btn {
      font-size: 20px;
    }
  }
}

.MuiPaper-elevation8 {
  box-shadow: none !important;
}

@media (max-width: 768px) {
  #header {
    #left-items {
      #header-logo {
        width: 75px;
      }

      .menu {
        .menu-item {
          a {
            font-size: 17px;
          }
        }
      }
    }

    #right-items {
      .header-login-btn {
        font-size: 17px;
      }
    }
  }
}

@media (max-width: 414px) {
  #header {
    #left-items {
      .menu {
        display: none;
      }
    }

    #right-items {
      .header-login-btn {
        display: none;
      }

      .drawer-button {
        display: block;
        background-color: transparent;
        box-shadow: none;
        border: 1px solid rgb(167, 167, 167);
        color: rgb(167, 167, 167);
      }
    }
  }
}