.reset-password {
  text-align: center;

  h1 {
    padding-top: 2em;
  }

  .form-input {
    width: 300px;
    margin-right: 1em;
  }

  .error_message {
    color: rgb(245, 120, 120);
  }

  .validate-button, .send-button {
    height: 56px;
  }

  form {
    margin-top: 2em;
  }

  h2, .description {
    padding-top: 1em;
  }
}

@media (max-width: 480px) {
  .reset-password {
    .form-input {
      width: 80%;
      margin-right: 0;
    }

    .validate-button, .send-button {
      margin-top: 1em;
      width: 80%;
    }
  }
}