.layout {
  font-size: 14px;
  font-weight: 300;
  line-height: 25px;
  color: #3b4045;
  font-family: "Josefin Sans", sans-serif;

  main {
    position: relative;
  }

  * {
    font-family: "Josefin Sans", sans-serif !important;

    &.MuiTypography-root {
      font-weight: 300;
      font-size: 14px;
    }
  }
}

.section {
  padding: 100px 0;
}

p {
  font-size: 18px;
}

a, a:active, a:focus, a:active {
  text-decoration: none;
}