#trustees {
  .content-container {
    background-color: rgba(241, 216, 102, 0.1);
    border-radius: 8px;
    width: 90%;
    padding-top: 4em;
    padding-bottom: 4em;
    margin: auto;

    img {
      width: 100%;
    }
  }

  .heading {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;

    h2 {
      color: #311a19;
      font-weight: 600;
      font-size: 45px;
		}
  }
}

@media (max-width: 480px) {
  #trustees {
    .heading {
      h2 {
        font-size: 27px;
      }
    }

    .content-container {
      border: none;
      margin-bottom: 0;
      border-radius: 0;
      width: 100%;
    }
  }
}

@media (max-width: 350px) {
  #trustees {
    .heading {
      h2 {
        font-size: 23px;
      }
    }
  }
}