.section-2 {
  .image-container {
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: 250px;
    }
  }

  .mobile-image-container {
    width: 100%;
    display: none;

    img {
      width: 250px;
      transform: scale(0.6);
    }
  }

  .feature-box {
    margin-bottom: 40px;

    h4 {
      color: #315f69;
    }

    .small-icon {
      font-size: 30px;
      margin-bottom: 10px;
      display: inline-block;
      color: #f1d866;
    }

    p {
      color: #315f69;
    }
  }

  .heading {
    text-align: center;
    color: #777777;
    padding-bottom: 70px;
    width: 100%;

    h2 {
      color: #311a19;
    }
  }
}

@media (max-width: 768px) {
  .section-2 {
    .image-container {
      img {
        transform: scale(0.8);
      }
    }
  }
}

@media (max-width: 480px) {
  .section-2 {
    .image-container {
      display: none;
    }

    .heading {
      padding-bottom: 0;

      h2 {
        font-size: 25px;
      }
    }

    .mobile-image-container {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .feature-box {
      text-align: center;
    }
  }
}