.category-display {
  height: 150px;
  margin-bottom: 40px;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  &:hover {
    cursor: pointer;
  }

  h2, h3 {
    color: white;
    display: block;
    text-shadow: 0px 0px 2px black;
    text-align: center;
  }

  h3 {
    font-size: 20px;
  }
}