#delete-request-modal {
  .logo-big {
    width: 50%;
    margin: auto;
    display: block;
  }

  p {
    text-align: center;
  }

  .confirm-button {
    color: black;
    border-radius: 0;
    width: 100%;
    font-size: 15px;
    border-color: #F1D866;
    padding: 15px;
    background-color: #F1D866;
  }

  .cancel-button {
    color: white;
    border-radius: 0;
    width: 100%;
    font-size: 15px;
    border-color: grey;
    padding: 15px;
    margin: auto;
    display: block;
    background-color: grey;
  }
}