#profile-information {
  width: 100%;
  background-color: white;
  border: 1px solid rgb(219, 219, 219);
  border-radius: 0;
  margin-top: 1em;

  h2 {
    padding: 1em;
    text-align: center;
  }

  form {
    width: 90%;
    margin: 1em auto;

    .form-input {
      margin: 1em 0;
    }

    .full-width {
      width: 100%;
    }

    .phone-container {
      display: flex;

      .country-code {
        width: auto;
        flex-shrink: 1;
        margin-right: 10px;
      }

      .phone-input {
        width: auto;
        flex-grow: 2;
      }
    }

    .update-user-button {
      color: black;
      border-radius: 0;
      font-size: 22px;
      width: 100%;
      border-color: #F1D866;
      padding: 15px 40px;
      margin-bottom: 1em;
      display: inline-block;
      background-color: #F1D866;

      &.modal-order {
        padding: 10px 30px;
      }
    }
  }
}

@media (min-width: 1024px) {}

@media (max-width: 1024px) {}

@media (min-width: 768px) {}

@media (max-width: 768px) {}

@media (max-width: 480px) {
  #profile-information {
    h2 {
      padding: 1em;
      font-size: 20px;
    }
  }
}

@media (max-width: 350px) {}