.dashboard-home {
  height: 100%;
  width: 100%;

  .kpis-container {
    padding: 3em;

    .kpis {
      display: flex;
      flex-wrap: wrap;
      align-content: flex-start;
      padding: 1em;

      .kpi-container {
        padding: 1em;
        margin: 1em;
        position: relative;
        text-align: center;
        border: 1px solid rgb(226, 226, 226);
        border-radius: 0;

        &.red {
          background-color: #ef5350;
          color: white;
        }

        &.orange {
          background-color: #ffa726;
        }

        &.green {
          background-color: #66bb6a;
        }

        .goal {
          position: absolute;
          top: 5px;
          right: 5px;
          padding: 2px 15px 0 15px;
          border-radius: 0;
          background-color: grey;
          color: white;

          span {
            padding: 0;
            margin: 0;
          }
        }

        h2 {
          font-size: 30px;
        }

        h3 {
          font-size: 17px;
        }
      }
    }
  }
}