.dashboard-home {
  height: 100%;
  width: 100%;

  .kpis-container {
    padding: 3em;

    .kpis {
      display: flex;
      flex-wrap: wrap;
      align-content: flex-start;
      padding: 1em;

      .kpi-container {
        padding: 1em;
        margin: 1em;
        text-align: center;
        border: 1px solid rgb(226, 226, 226);
        border-radius: 8px;

        &.red {
          background-color: #ef5350;
          color: white;
        }

        &.orange {
          background-color: #ffa726;
        }

        &.green {
          background-color: #66bb6a;
        }

        h2 {
          font-size: 30px;
        }

        h3 {
          font-size: 20px;
        }
      }
    }
  }
}