.dashboard-home {
  width: 100%;
  padding-left: 3em;

  h1 {
    font-size: 25px;
    margin-left: 0;
  }

  .kpis-container {
    padding: 1em 3em 1em 0;

    h2 {
      font-size: 20px;
    }

    h3 {
      font-size: 17px;
    }

    .kpis {
      display: flex;
      flex-wrap: wrap;
      align-content: flex-start;
      padding: 1em;

      .kpi-container {
        padding: 1em;
        margin: 1em;
        position: relative;
        width: 120px;
        text-align: center;
        border: 1px solid rgb(226, 226, 226);
        border-radius: 6px;

        &.red {
          background-color: #ef5350;
          color: white;
        }

        &.orange {
          background-color: #ffa726;
        }

        &.green {
          background-color: #66bb6a;
        }

        .goal {
          position: absolute;
          top: 5px;
          right: 5px;
          padding: 2px 15px 0 15px;
          border-radius: 0;
          background-color: grey;
          color: white;

          span {
            padding: 0;
            margin: 0;
          }
        }
      }
    }
  }
}