#signup-page {
  display: flex;
  height: 100vh;

  #left-column {
    background-color: rgba(49, 26, 25, 0.7);
    flex-grow: 1;

    img {
      width: 175px;
      display: block;
      margin: 5em auto;
    }

    .description-container {
      display: flex;
      justify-content: center;

      ul {
        display: inline-block;
        padding: 0;
        margin: auto;

        li {
          font-size: 25px;
          color: #fff;
          display: block;
          margin-bottom: 40px;
        }
      }
    }
  }

  #right-column {
    min-width: 737px;

    h1 {
      font-size: 40px;
      color: #315F69;
      font-weight: bold;
      text-align: center;
      margin: 30px 0;
    }

    form {
      padding: 2em;

      .half-inputs-container {
        display: flex;
        justify-content: space-between;

        .input-container {
          width: 48%;

          input {
            width: 100%;
          }
        }
      }

      .user-already-exists-error {
        color: rgb(255, 72, 72);
        text-align: center;
      }

      .singup-btn {
        margin: 5px auto;
        width: 235px;
        height: 55px;
      }

      .login-text {
        font-size: 14px;
        text-align: center;

        a {
          color: #315F69;
        }
      }
    }
  }
}