
.section-4 {
  .content {
    margin-top: 100px;
    color: #3b4045;
  }

  .title-container {
    text-align: center;
    padding-bottom: 70px;

    h2 {
      color: #311a19;
    }
  }

  .image-container {
    text-align: center;
  }

  .btn-news {
    color: #fff;
    border-radius: 30px;
    font-size: 18px;
    padding: 15px 40px;
    display: inline-block;
    background-color: #315f69;
    -moz-box-shadow: 0 15px 40px rgba(49, 95, 105, 0.5);
    -webkit-box-shadow: 0 15px 40px rgba(49, 95, 105, 0.5);
    box-shadow: 0 15px 40px rgba(49, 95, 105, 0.5);
    background-image: -moz-linear-gradient(bottom, rgba(255, 239, 206, 0) 0%, rgba(255, 239, 206, 0.25) 100%);
    background-image: -o-linear-gradient(bottom, rgba(255, 239, 206, 0) 0%, rgba(255, 239, 206, 0.25) 100%);
    background-image: -webkit-linear-gradient(bottom, rgba(255, 239, 206, 0) 0%, rgba(255, 239, 206, 0.25) 100%);
    background-image: linear-gradient(bottom, rgba(255, 239, 206, 0) 0%, rgba(255, 239, 206, 0.25) 100%);
  }
}

@media (max-width: 768px) {
  .section-4 {
    .image-container {
      img {
        transform: scale(0.8);
      }
    }
  }
}

@media (max-width: 480px) {
  .section-4 {
    .image-container {
      img {
        transform: scale(0.6);
      }
    }

    .content {
      margin-top: 0;
      text-align: center;

      p {
        text-align: justify;
      }
    }

    .title-container {
      padding-bottom: 0;

      h2 {
        font-size: 25px;
      }
    }
  }
}
