
@font-face {
  font-family: 'Josefin Sans';
  src: url(./fonts/JosefinSans-Regular.ttf);
  font-display: swap;
}

$brown: #311A19;
$green: #315f69;
$yellow: #f1d866;

html {
  scroll-behavior: smooth;

  * {
    font-family: 'Josefin Sans', sans-serif !important;
  }

  body {
    .full-width {
      width: 100%;
    }

    .row {
      margin-left: 0;
      margin-right: 0;

      .left-input {
        padding-left: 0;
      }

      .right-input {
        padding-right: 0;
      }
    }
  }
}