#unique-product {
	padding-top: 2em;
	width: 85%;
	margin: auto;

	.description {
		font-size: 18px;
	}

	.big-form-input {
    .MuiInputBase-input {
      min-height: 200px;
    }
	}

	table {
		width: 100%;

		td, th {
			border: 1px solid rgb(219, 219, 219);
			padding: 0.5em 1em;
		}

		.qty-column {
			width: 70px;
		}
	}

	.error {
		border-color: red;
	}

	.regular-price {
		font-size: 25px;
		text-decoration: line-through;
	}

	.new-price {
		font-size: 25px;
	}

	.reduction {
		border: 1px solid rgb(211, 64, 64);
		color: rgb(211, 64, 64);
		padding: 5px;
		vertical-align: middle;
		font-size: 15px;
		margin-left: 10px;
	}

	.qty-container {
		h4 {
			margin-top: 1em;
			text-align: center;
		}

		.qty-buttons {
			display: block;
			text-align: center;

			.qty-button, .qty-display {
				border: 1px solid #311A19;
				background-color: #F1D866;
				color: #311A19;
			}
		}

		.max-qty-msg {
			margin-top: 1em;
			text-align: center;
		}

		.order-button {
			color: black;
			font-size: 18px;
			display: block;
			margin: auto;
			border: 1px solid #311A19;
			margin-top: 1em;
			padding: 15px 40px;
			background-color: #F1D866;

			&.isDone {
				width: 40%;
				text-align: center;
			}
		}
	}

	.other-products-row {
		display: flex;
		flex-wrap: wrap;

		.product-card {
			padding: 1em;
			text-align: center;
			width: 180px;

			img {
				height: 150px;
				max-width: 150px;
			}

			h4 {
				font-size: 20px;
				text-align: center;
			}
		}
	}

	.comment-form {
		.send-comment-button {
			float: right;
			margin-top: 1em;
		}

		.suggestion-login-container {
			width: 100%;
			height: 100px;
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}

	.product-img-container {
		.images-container {
			max-height: 350px;
			overflow-y: scroll;

			img {
				margin: 0 auto 20px auto;
				display: block;
				height: 200px;
			}
		}

		p {
			text-align: center;
		}
	}

	h3 {
		margin-top: 1em;
	}

	input[type="checkbox"].error {
		outline: 1px solid red;
	}

	li {
		font-size: 18px;
	}
}

@media (max-width: 1366px) {
  #unique-product {}
}

@media (min-width: 1025px) {
	#unique-product {
		.product-img-container {
			padding: 1em;
			background-color: rgba(241, 216, 102, 0.1);

			p {
				font-size: 13px;
				margin-bottom: 0;
			}
		}

		.product-card {
			padding: 10px;

			&:hover {
				cursor: pointer;
				box-shadow: 0 0 11px rgba(33,33,33,.2);
			}
    }
	}
}

@media (max-width: 1024px) {
	#unique-product {
		.product-img-container {
			p {
				font-size: 12px;
			}
		}
	}
}

@media (max-width: 768px) {
  #unique-product {
		width: 100%;

		.product-card {
			h4 {
				font-size: 13px;
				text-align: center;
			}
		}
	}
}

@media (max-width: 480px) {
	#unique-product {
		.container {
			padding-right: 0;
			padding-left: 0;

			.imgs-col {
				padding-right: 0;
				padding-left: 0;

				img {
					border-radius: 0;
					width: 100%;
				}
			}
		}

		.product-img-container {
			.images-container {
				max-height: 450px;
			}
		}

		h1 {
			font-size: 30px;
		}

		.regular-price, .new-price {
			font-size: 20px;
		}

		.reduction {
			font-size: 18px;
		}

		h1, h2 {
			text-align: center
		}

		h3 {
			text-align: center;
		}

		.other-products-row {
			.product-card {
				width: 50%;
			}

			h3 {
				font-size: 13px;
			}
		}

		.description {
			width: 90%;
			display: block;
			margin: auto;
			text-align: justify;
		}
	}
}

@media (max-width: 375px) {
	#unique-product {
		.product-img-container {
			.images-container {
				max-height: 412px;
			}
		}
	}
}

@media (max-width: 350px) {
	#unique-product {
		.product-img-container {
			.images-container {
				max-height: 390px;
			}
		}
	}
}