#custom-drawer {
  * {
    font-family: "Josefin Sans", sans-serif;
  }

  .MuiDrawer-paper {
    background-color: #F1D866;

    .list-item {
      text-align: center;
      * {
        font-size: 22px;
      }
    }
  }
}