.footer {
  text-align: center;
  // background: #f4f4f4;
  padding: 50px 0px;

  .menu {
    padding: 0;
    margin: 0;
    margin-top: 14px;
    list-style: none;

    li {
      display: inline-block;
      margin: 0 10px;

      a {
        color: #444;
        font-size: 14px;
        font-weight: bold;
      }
    }
  }

  .brand {
    a {
      color: #555;
    }
  }

  .copyright-text {
    font-weight: 300;
    font-size: 12px;
    color: #888;
    letter-spacing: 3px;
    margin-top: 15px;
  }
}