.dashboard-baskets {
  height: 100%;
  width: 100%;

  h1 {
    display: flex;
    vertical-align: middle;

    button {
      font-size: 18px;
      color: #311A19;
      background-color: #F1D866;
      padding: 0.5em 2em;
      font-weight: 500;
      border: 1px solid #311A19;
      border-radius: 0;
      margin-left: 2em;
    }
  }

  p {
    font-size: 14px;
    margin-bottom: 0;
  }

  .baskets {
    width: 100%;
    height: calc(100% - 48px);
  }

  .comment-container, .message-container {
    width: 100%;
    height: 50px;
    overflow-y: auto;

    &::-webkit-scrollbar {
        -webkit-appearance: none;
    }

    &::-webkit-scrollbar:vertical {
        width: 11px;
    }

    &::-webkit-scrollbar:horizontal {
        height: 11px;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 0;
        border: 2px solid white; /* should match background, can't be transparent */
        background-color: rgba(0, 0, 0, .5);
    }
  }
}

#confirm-change-modal {
  .logo-big {
    width: 50%;
    margin: auto;
    display: block;
  }

  p {
    text-align: center;
  }

  .confirm-button {
    color: black;
    border-radius: 0;
    width: 100%;
    font-size: 15px;
    border-color: #F1D866;
    padding: 15px;
    background-color: #F1D866;
  }

  .cancel-button {
    color: white;
    border-radius: 0;
    width: 100%;
    font-size: 15px;
    border-color: grey;
    padding: 15px;
    margin: auto;
    display: block;
    background-color: grey;
  }
}