#faq {
  width: 80%;
  margin: 2em auto 0 auto;

  .title-container {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;

    h2 {
      color: #311a19;
      font-weight: 600;
      font-size: 45px;
      margin-bottom: 30px;
    }

    h3 {
      font-size: 17px;
      font-weight: 400;
      width: 850px;
      margin: auto;
    }
  }

  .questions-container {
    width: 90%;
    margin: 0 auto;
  }
}

@media (max-width: 768px) {
  #faq {
    width: 90%;

    .questions-container {
      width: 100%;
    }
  }
}

@media (max-width: 480px) {
  #faq {
    .title-container {
      p {
        font-size: 14px;
        text-align: justify;
      }

      h2 {
        font-size: 25px;
      }
    }
  }
}