#faq {
  width: 80%;
  margin: 2em auto 0 auto;

  .questions-container {
    width: 90%;
    margin: 0 auto;
  }
}

@media (max-width: 768px) {
  #faq {
    width: 90%;

    .questions-container {
      width: 100%;
    }
  }
}

@media (max-width: 480px) {
  #faq {
    .title-container {
      p {
        font-size: 14px;
        text-align: justify;
      }

      h2 {
        font-size: 25px;
      }
    }
  }
}