.banner {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;

  h1 {
    font-size: 25px;
    margin-top: 5px;
    margin-bottom: 0;
  }

  .banner-containers {
    display: flex;
    align-items: center;

    &.title-container {
      justify-content: center;
    }
  }

  p {
    margin: 0;
    font-size: 16px;
    text-align: left;
    line-height: 1em;
  }

  &.success {
    background-color: #28a745;
    color: white;

    .close-button {
      color: white;
    }
  }

  &.info {
    background-color: #ffc107;
    color: #212529;

    .close-button {
      color: #212529;
    }
  }

  .close-button {
    background-color: transparent;
    border: none;
  }
}

@media (max-width: 900px) {
  .banner {
    p {
      font-size: 13px;
    }
  }
}

@media (max-width: 480px) {
  .banner {
    display: none;
  }
}