.section-3 {
  background: #315f69;

  .image-container {
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: 400px;
    }
  }

  .content {
    margin-top: 100px;

    h2 {
      color: #f1d866;
    }

    p {
      color: white;
    }
  }
}

@media (max-width: 768px) {
  .section-3 {
    .content {
      margin-top: 40px;
    }

    .image-container {
      img {
        transform: scale(0.8);
      }
    }
  }
}

@media (max-width: 480px) {
  .section-3 {
    padding: 50px 0;

    .image-container {
      img {
        transform: scale(0.6);
      }
    }

    .content {
      h2 {
        text-align: center;
        font-size: 25px;
      }

      p {
        text-align: justify;
      }
    }
  }
}